<table id="ProductImageTable" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    @*<tbody>
            @foreach(var item in Model) {
            <tr>
                <td><a href="~/Attachment/ProductImages/@item.Image" target="_blank" ><img src="~/Attachment/ProductImages/@item.Image" width="50" height="50" /></a></td>
                <td>
                    <a onclick="DeleteImage(@item.ID)" class="btn btn-danger">Delete</a>
                    <a onclick="SetMain(@item.ID)" class="btn btn-success">IsMain</a>
                </td>
            </tr>

            }
        </tbody>*@
</table>
