<table id="ProductTable" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
</table>

