<table id="CategoryTable" class="table table-bordered table-striped" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>
